<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.financematch.report.mapper.ReportWriteMapper">

    <insert id="upsertGoalFeasibilityReason">
        INSERT INTO report (compatibility_result_id, goal_feasibility_reason)
        VALUES (#{compatibilityResultId}, #{reason})
        ON DUPLICATE KEY UPDATE goal_feasibility_reason = VALUES(goal_feasibility_reason)
    </insert>
</mapper>
