<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.financematch.product.mapper.InvestmentMapper">

    <resultMap id="investmentProductMap"
               type="com.financematch.product.dto.InvestmentProduct">

        <id property="productId"
            column="product_id"/>

        <result property="productName"
                column="product_name"/>

        <result property="description"
                column="description"/>

        <result property="url"
                column="url"/>

        <result property="companyName"
                column="company_name"/>

        <result property="riskLevel"
                column="risk_level"/>

        <result property="aum"
                column="aum"/>

        <result property="isTdf"
                column="is_tdf"/>

    </resultMap>


    <select id="findAll"
            resultMap="investmentProductMap">

        SELECT
            p.id AS product_id,
            p.product_name,
            p.description,
            p.url,
            p.company_name,
            i.risk_level,
            i.aum,
            i.is_tdf

        FROM product p

        INNER JOIN investment i
            ON p.id = i.id

        WHERE p.product_type = 'INVESTMENT'

        ORDER BY p.id

    </select>


    <select id="findByProductId"
            resultMap="investmentProductMap">

        SELECT
            p.id AS product_id,
            p.product_name,
            p.description,
            p.url,
            p.company_name,
            i.risk_level,
            i.aum,
            i.is_tdf

        FROM product p

        INNER JOIN investment i
            ON p.id = i.id

        WHERE p.id = #{productId}
          AND p.product_type = 'INVESTMENT'

    </select>


    <select id="findByRiskLevel"
            resultMap="investmentProductMap">

        SELECT
            p.id AS product_id,
            p.product_name,
            p.description,
            p.url,
            p.company_name,
            i.risk_level,
            i.aum,
            i.is_tdf

        FROM product p

        INNER JOIN investment i
            ON p.id = i.id

        WHERE p.product_type = 'INVESTMENT'
          AND i.risk_level = #{riskLevel}

        ORDER BY
            i.aum DESC,
            p.id

    </select>


    <select id="findTdf"
            resultMap="investmentProductMap">

        SELECT
            p.id AS product_id,
            p.product_name,
            p.description,
            p.url,
            p.company_name,
            i.risk_level,
            i.aum,
            i.is_tdf

        FROM product p

        INNER JOIN investment i
            ON p.id = i.id

        WHERE p.product_type = 'INVESTMENT'
          AND i.is_tdf = 1

        ORDER BY
            i.aum DESC,
            p.id

    </select>

</mapper>